<%- include('partials/header') %>

<div class="container">
	<h1>About me</h1>
	<span class="img-container">
		<img src="https://cdn.pixabay.com/photo/2015/06/02/12/59/narrative-794978__480.jpg"    style='height: 100%; width: 100%; object-fit: contain'>
	</span>
	<p>
		Lorem ipsum dolor sit amet, mei ludus saepe eloquentiam ne, tota impedit duo at, equidem sanctus imperdiet ne sea. Id sint delicata vix. No euismod eligendi vituperatoribus mea, sed cu munere eirmod. Te vix sint debet erroribus, et primis consequat mea. No ferri vocibus vel, usu simul animal eu. Eum id affert tamquam, in vim alia impedit nusquam. Utinam ubique officiis est in, mea lucilius atomorum te.
	</p>	
</div>

<%- include('partials/footer') %>
