<%- include('partials/header') %>

<!-- <form action="/addcourse" method="post"> -->
<form action="/courses" method="post">
	<input type="text" name="title" placeholder="course name">
	<input type="text" name="description" placeholder="course description"><br>
	<button type="button" onclick="window.location.href='/courses'">View all courses</button>	
	<input type="submit" name="submit" value="submit">
</form> 

<%- include('partials/footer') %>