<%- include('partials/header') %>

<div class="container">	
	<h1>Create a new course</h1>
	<form action="/courses" method="post">
		<input type="text" name="title" placeholder="course name">
		<input type="text" name="description" placeholder="course description">
		<br><br>
		<input type="submit" name="submit" value="OK" class="btn btn-primary">
		<button type="button" onclick="window.location.href='/courses'" class="btn btn-primary">View all courses</button>
	</form> 
</div>

<%- include('partials/footer') %>