<%- include('partials/header') %>

<h1>Prices of the precious metals</h1>
<h2>Silver Price: $<%= silverPrice %> per ounce</h2>
<h2>Gold Price: $<%= goldPrice %> per ounce</h2>

<%- include('partials/footer') %>